@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brown-500: #4e2b10;
  --brown-300: #85491b;
  --brown-100: #ce7c3d;
  --gray-700: rgb(122, 118, 118);
  --gray-600: rgb(142, 137, 137);
  --gray-500: rgb(178, 173, 173);
  --gray-300: rgb(229, 222, 222);
  --gray-100: rgb(250, 244, 244);
  --paper-color: rgb(235, 231, 213);
  --off-white: rgb(252, 250, 246);
  --off-black: rgb(36, 36, 36);
  --danger: rgb(149, 12, 12);
  --danger-transparent: rgba(149, 12, 12, 0.5);
  --success: rgb(25, 107, 25);
  --success-transparent: rgb(25, 107, 25, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-title-gradient {
  background: linear-gradient(0deg, var(--brown-100), var(--brown-500));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  background-color: white;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.custom-large-btn {
  align-self: center;
  background-color: transparent;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-color: var(--brown-500);
  border-width: 2px;
  color: var(--brown-500);
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  line-height: 23px;
  outline: none;
  padding: 8px 15px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.custom-large-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.custom-large-btn:active {
  background-color: #4e2b10;
  color: var(--gray-300);
}

.custom-large-btn-dark {
  background-color: #4e2b10;
  color: var(--gray-300);
}

.custom-low-lifted-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.custom-inset-shadow {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}

.custom-avatar-menu-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.custom-card-shadows {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.custom-card-shadows:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: all 235ms;
  transform: scale(1.008);
}

.custom-card-shadows:active {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transform: scale(1);
}

.custom-small-btn {
  appearance: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--off-white);
  cursor: pointer;
  font-weight: 500;
  padding: 4px 13px;
  width: fit-content;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 0.1s;
}

.custom-small-btn:disabled {
  pointer-events: none;
}

.custom-small-btn:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  transform: scale(1.005) translateY(-1px);
}

.custom-small-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Embla slider styles */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 300px;
}

/* Input Styles */
.input-browser-reset {
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  resize: none;
}

.input-browser-reset:focus {
  -webkit-border-color: var(--brown-500);
  border-color: var(--brown-500);
}

.input-browser-reset::placeholder {
  color: var(--brown-300);
  opacity: 1;
  font-style: italic;
  font-weight: 300;
}

/* Style the scrollbar */
.custom-thin-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--brown-500) var(--gray-100); /* Thumb and track colors for Firefox */
}

/* Webkit browsers (Chrome, Edge, Safari) */
.custom-thin-scrollbar::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.custom-thin-scrollbar::-webkit-scrollbar-track {
  background: var(--gray-100); /* Background of the scrollbar track */
  border-radius: 1px;
}

.custom-thin-scrollbar::-webkit-scrollbar-thumb {
  background: var(--brown-500); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounds the corners of the thumb */
}

.custom-thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--brown-300); /* Thumb color when hovered */
}

.custom-banner-text-shadow {
  text-shadow: -2px 3px black;
}