@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brown-500: #4e2b10;
  --brown-300: #85491b;
  --brown-100: #ce7c3d;
  --gray-600: rgb(142, 137, 137);
  --gray-500: rgb(178, 173, 173);
  --gray-300: rgb(229, 222, 222);
  --gray-100: rgb(250, 244, 244);
  --paper-color: rgb(235, 231, 213);
  --off-white: rgb(252, 250, 246);
  --off-black: #090705ec;
  --off-black: rgb(36, 36, 36)
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-title-gradient {
  background: linear-gradient(0deg, var(--brown-100), var(--brown-500));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
  background-color: white;
}

/* CSS */
.custom-large-btn {
  align-self: center;
  background-color: transparent;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-color: var(--brown-500);
  border-width: 2px;
  color: var(--brown-500);
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.custom-large-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.custom-large-btn:active {
  background-color: #4e2b10;
  color: var(--gray-300);
}

.custom-card-section-shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.custom-card-shadow {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* CSS */
.custom-small-btn {
  appearance: none;
  background-color: var(--off-black);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--off-white);
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  padding: 6px 15px;
  width: fit-content;
  display: block;
  font-size: 0.95rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.custom-small-btn:disabled {
  pointer-events: none;
}

.custom-small-btn:hover {
  background-color: var(--brown-500);
}

.custom-small-btn:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Embla slider styles */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 330px;
}
