@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4e2b10;
  --off-black: #090705ec;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title-gradient {
  background: linear-gradient(0deg, #ce9261, #4e2b10);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
